$button-color: #16bffd;

body {
  font-size: 16px;
  line-height: 1.5;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-bottom: 1em;
  word-break: break-all;
}

button {
  color: #fff;
  background: $button-color;
  border: 0;
  padding: .5rem 1rem;
  outline: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-size: .75em;

  &:hover {
    background: lighten($button-color, 10%);
  }

  &:active {
    background: darken($button-color, 10%);
  }
}

@media (min-width: 801px) {
  body {
    padding: 3rem;
  }
}
