$transition-speed: .25s;

.o-burgr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    display: block;
    opacity: 0;
    pointer-events: none;
  }

  &__menu {
    left: 0;
    top: 0;
    max-width: 350px;
    width: 80%;
    height: 100%;
    background-color: #fff;
    display: block;
    z-index: 100;
    // transition: $transition-speed transform ease-in-out;

    &__item {
      width: 100%;
      padding: 1rem 1.5rem;
      display: block;
      text-decoration: none;
      color: #111;
      font-size: 18px;
      font-weight: 400;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &:hover {
        color: #fff;
        background: #16bffd;
        background: linear-gradient(to left, #16bffd , #cb3066);
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: -80%;
    width: 100%;
    height: 100%;
    // background-color: #00c;
  }
}
