$transition-speed: .25s;

.o-burgr {
  &__menu {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 350px;
    width: 80vw;
    height: 100%;
    background-color: #fff;
    display: block;
    z-index: 100;
    transform: translateX(-100%);
    transition: $transition-speed transform ease-in-out;

    &__item {
      width: 100%;
      padding: 1rem 1.5rem;
      display: block;
      text-decoration: none;
      color: #111;
      font-size: 18px;
      font-weight: 400;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &:hover {
        color: #fff;
        background: #16bffd;
        background: linear-gradient(to left, #16bffd , #cb3066);
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: transparent;
      pointer-events: none;
      transition: $transition-speed background-color ease-in-out;
    }
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: $transition-speed background-color ease-in-out;
    background-color: transparent;
    display: none;

    &--visible {
      display: block;
    }

    &--open {
      opacity: 1;
      pointer-events: initial;
      background-color: rgba(0, 0, 0, 0.25);

      .o-burgr__menu {
        transform: translateX(0);
      }
    }
  }
}
